

body{
    background-color: rgba(70,104,123,255);
}


img{
    height: 100%;
    width : 100%;

    object-fit: cover;
    opacity: 0.5;
    filter:blur(4.63px);
}


#overall-container{
    display: flex;
    width:100vw;
}


#grid-container-display-text{
    
    display: grid;
    height: 100vh;
    width : 50vw;
    
    grid: 0px;

    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%) ;

}

.grid-text{
    font-size: 3rem;
    font-weight: 750;
    color:white;
    font-family: Inter, sans-serif;
    
    order: 1;

}

.grid-text-sm{
    font-size:1.25rem;
    font-weight:350;

    z-index: 1;
    grid-area: 9 / 2 / 11 / 11;
}


.display-text{
    z-index: 1;
    grid-area: 6 / 2 / 11 / 11;
}

.grid-container-image{
    box-shadow: inset 10px 0px 250px 50px #000000;
    
    z-index: 0;
    grid-area: 1 / 1 / 11 / 11;
}






.login-form-container{
    display:flex; 
    background-color: white;
    width:50%;

    align-items: center;
    justify-content: center;
}



















