

body{
    background-color: rgba(70,104,123,255);
    font-family: Inter, sans-serif;
}


#overall-container{
    display:grid;
    height: 90vh;
    width:  100vw;

    gap: 0px;
    background-color: lightgray;

    grid-template-columns: repeat(40, 2.5%);
    grid-template-rows: repeat(40, 2.5%) ;
}


.container-sidebar{
    background-color: rgba(70,104,123,255) !important;
    width:100%;
    height: 100%;

    grid-area: 1 / 1 / 41 / 6;
}


.flex-account-bottom{
    display:flex;
    height:20.5rem;
    width:100%;

    align-items: flex-end;
    justify-content: flex-start;

}




.container-searchbar{
    background-color: white;
    border-radius: 10px;

    box-shadow: 1px 1px 10px #4D4D4D;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: 2 / 7 / 6 / 40;
}

.container-main-body{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #4D4D4D;

    grid-area: 7 / 7 / 40 / 40;

}

.main-body-flex{
    display:flex;
    flex-direction: column;
    align-items: baseline;

    gap:1rem;

    padding-top: 2.5%;
    width:95%;
    height:97.5%;
}

.main-body-items{
    display:grid;
    align-items: center;

    grid-template-columns: repeat(40, 2.5%);
    grid-template-rows: 100%;

    background-color: #d0dcdc;
    border-radius: 10px;

    width: 100%;
    height: 5rem;
}

.main-body-add-items{
    display:grid;
    align-items: center;

    grid-template-columns: repeat(40, 2.5%);
    grid-template-rows: 100%;

    border-radius: 10px;
    border-style: dotted;

    width: 100%;
    height: 5rem;

    opacity: 0.5;
}

.main-body-text-sci-name{
    font-size:1.55rem;
    font-weight: bold;

    grid-area: 2 / 2 / 1/ 41;
}

.main-body-text-date-start{
    font-size:1.15rem;

    grid-area: 2 / 12 / 1/ 41;
}

.main-body-text-date-end{
    font-size:1.15rem;

    grid-area: 2 / 24 / 1/ 41;
}

.main-body-text-new-item{
    font-size:1.115rem;

    grid-area: 2 / 2 / 1/ 41;
}






        .hover-container{
            display:none;
        }

        .main-body-items:hover + .hover-container{

            display:flex;
            gap: 1.775rem;
            align-items: center;
            justify-content: center;

            background-color:#d0dcdc;
            border-radius: 10px;
            padding-top: 20px;

            width:100%;
            height: 50%;
            
        }

        .main-body-items:hover + .hover-container > img{
            width:10rem;
            height:10rem;

            border-radius: 1rem;
        }















